*{
    margin: 0px;
    padding: 0px;
}

main{

    background-color: bisque;

}

header{
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content:space-around;

}

.log{

}

ul li{
    list-style: none;
    margin: 0 10px;
    display: inline-block;

}

ul li a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(46, 121, 96);
}

.botao a{
    text-decoration: none;

}

.botao1{
    color:white ;
    background: #8e2424;
    border: 1px solid #8e2424;
    border-radius: 5px;
    padding: 10px;
} 